

.main-page {
    background-color: var(--back-ground-color);
    padding-bottom: 15rem;

    .download-btn {
        margin:0 0 2rem;
        z-index: 1;

    }
    .divider {
        height: 4rem;
    }
    .img-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 960px) {
    .main-page {
        .download-btn {
            margin:0 0 1.5rem;
        }
    }
}